rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isOwner() {
      return request.auth != null
        && firestore.exists(/databases/(default)/documents/usuarios/$(request.auth.uid))
        && firestore.get(/databases/(default)/documents/usuarios/$(request.auth.uid)).data.role == 'owner';
    }

    match /catalogo/{productSlug}/{imageName} {
      allow read: if true;
      allow write: if isOwner()
        && request.resource.size < 4 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }
  }
}
